tabs
  pane(ng-repeat='element in elements | orderBy:"id":true', heading='{{element.name}}')
    section.editor
     h2 Editor:
        span {{ element.name }}

      .columns
        label(for='') Cor do texto
        input.val-cores(type='text', value='', placeholder='Hex: {{ element.color }}', name='color', maxlength='7')
        span.prefix(style='background: #c60f13 ') #

      .columns
        label(for='') Cor de fundo do texto
        input.val-cores(type='text', value='', placeholder='Hex: {{ element.background }}', name='background-color', maxlength='6')
        span.prefix(style='background: #cc9977;') #

      .columns
        label(for='') Tamanho do texto
        input.val-cores(type='text', value='', placeholder='{{ element.size }}', name='font-size')
        span.sufix px

      .columns
        label(for='') Altura da linha do texto
        input.val-cores(type='text', value='', placeholder=' {{ element.lineHeight }}', name='line-height')
        span.sufix px

      .columns
        label(for='') Decoração do texto
        select(placeholder='none', name='text-decoration')
          option(value='none') None
          option(value='underline') Underline
          option(value='overline') Overline
          option(value='line-through') Line-through
          option(value='blink') Blink
          option(value='Inherit') Inherit

      .columns
        label(for='') Estilo do texto
        select(placeholder='normal', name='font-style')
          option(value='normal') Normal
          option(value='italic') Italic
          option(value='oblique') Oblique
          option(value='Inherit') Inherit

      .row
        button#gerar-coding.btn.btn-save Salvar

    section.view
        h2 Ver Demo
        .view-demo
          span {{ element.name }}
        .view-css
          h2 Ver CSS
          form
            textarea#code(name='code')
              | .app {
              |   color: {{ '#' + element.color }};
              |   background-color: {{ '#' + element.background }};
              |   font-size: {{ element.size }};
              |   line-height: {{ element.lineHeight }};
              |   text-decoration: {{ element.decoration }};
              |   font-style: {{ element.style }};
              | }
