section.login
    div#login
      h2 Login
      form(action='/document', id="form-login")
        input(type='text', placeholder="Digite seu email")
        input(type='password', placeholder='Entre com sua senha')
        a(href='', title='ja sou cadastrado', id='show-cadastro') Já sou cadastro
        button.btn.btn-login Entrar

    div#cadastro
      h2 Cadastro
      a#cad-frog.btn.btn-save(href='', title='Cadastrar com Frog') Cadastrar com Frog
      a#cad-facebook.btn.btn-facebook(href='', title='Cadastrar com Facebook') Cadastrar com Facebook
      form(action='', id="form-cadastro")
        input(type='text', placeholder='Digite um nome')
        input(type='text', placeholder='Digite um email')
        input(type='password', placeholder='Digite uma senha')
        button.btn.btn-login Cadastrar no Frog