!!!
html(ng-app="frog")
  head
    include partials/head
    link(rel="stylesheet", href="/js/codemirror/codemirror.css")
  body
    include partials/header
    block body
        div(ng-view)

        div#mask
        div.box-add-item
            input(type='text', placeholder="Link Header")
            a.btn.btn-new(href='', title='Criar Elemento')
                span.ic.ic-add
                | Criar Elemento

        include partials/baseScripts
        script(src="/js/codemirror/codemirror.js")
        script(src="/js/codemirror/css.js")