!!!
html(ng-app="frog")
  head
    meta(charset='utf8')
    base(href='/')
    title Frog
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block body